extends layout

block content
  div.logoContainer
    img(class='logo' src='./images/datalabs-vert.png' alt='Datalabs logo')
    h2 Sorry, we couldn't find the page you were looking for
    a(href=homepage) Return to the homepage
